@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LIGHT-COLOR: #f0f1f5;
    --DARK-COLOR: #0a0e15;
}

img {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.syne-regular {
    font-family: "Syne", sans-serif;
    color: var(--DARK-COLOR);
}

.syne-bold {
    font-family: "Syne", sans-serif;
    color: var(--DARK-COLOR);
    font-weight: 700;
}

.inter-regular {
    font-family: "Inter", sans-serif;
}

body {
    padding: 0 6rem;
    margin: auto;
    background-color: var(--LIGHT-COLOR);
    color: var(--DARK-COLOR);
    line-height: 1.2;
}

header {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem;
}

nav a {
    justify-content: left;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: block;
    margin: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* 
    scroll-margin-top: 5.5rem; */
    padding-bottom: 0.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    padding-top: 1rem;
}

main .links {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

main a {
    margin: 0.5rem;
}

h2 {
    padding: 0.5rem 0;
}

h3 {
    padding: 0.5rem 0;
}

a {
    color: var(--DARK-COLOR);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

section .about {
    font-size: 20px;
}

main ul {
    list-style: none;
}

footer {
    position: relative;
    bottom: 0;
    padding: 1rem 0;
}
