@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LIGHT-COLOR: #f0f1f5;
    --DARK-COLOR: #0a0e15;
}

img {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.syne-regular {
    font-family: "Syne", sans-serif;
    color: var(--DARK-COLOR);
}

.syne-bold {
    font-family: "Syne", sans-serif;
    color: var(--DARK-COLOR);
    font-weight: 700;
}

.inter-regular {
    font-family: "Inter", sans-serif;
}

body {
    margin: auto;
    background-color: var(--LIGHT-COLOR);
    color: var(--DARK-COLOR);
    line-height: 1.2;
    padding: 0 1rem;
    font-family: "Syne", sans-serif;
}

.header {
    position: fixed;
    top: 1.5rem;
    left: 0;
    right: 0;
    z-index: 10;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.header_img {
    width: 2rem;
}

.header_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* h1 {
    font-size: 1rem;
} */

.section-home .home-links {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-weight: 700;
}

.section-home a {
    margin: 0.5rem;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 0.5rem 0;
}

a {
    color: var(--DARK-COLOR);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

section .about {
    font-family: "Syne", sans-serif;
    font-size: 0.75rem;
}

main ul {
    font-size: inherit;
    list-style: none;
}

main table {
    font-size: inherit;
}

footer {
    display: none;
    position: relative;
    bottom: 0;
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.25rem;
    }
    .header_img {
        width: 3rem;
    }

    .header_ul {
        gap: 2rem;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .h1-sub {
        font-size: 1.5rem;
    }

    .home-links {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }
}
